# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### Monday Refreshers

##### Using 'or' in if statements

##### Using 'and' in if statements

##### Using both 'or' and 'and' in if statements

### String Manipulation

##### .lstrip()

In [1]:
name = '   Zak   '
name = name.lstrip()
print(name)

Zak

##### .rstrip()

In [2]:
name = '   Zak   '
name = name.rstrip()
print(name)

   Zak

Zak

##### .strip()

In [ ]:
name = '   Zak   '
name = name.strip()
print(name)

##### .title()

In [4]:
name = "wade"
name = name.title()
print(name)

Wade

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [6]:
names = ['    coNNor', 'max', ' EVan','JORDAN']
for name in names:
    print(name.strip().title())

Connor
Max
Evan
Jordan

### Working With Lists

##### min()

##### max()

##### sum()

##### sorted()

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

##### Copying a List

In [8]:
my_list1 = [1,2,3,4,5]
my_list2 = my_list1
my_list1.append(6)
print(my_list2)

print(id(my_list1))
print(id(my_list2))

[1, 2, 3, 4, 5, 6]
2387721028288
2387721028288

In [ ]:
my_list2 = my_list1.copy()

In [ ]:
my_list2 = my_list1[:]

##### 'in' keyword

In [9]:
5 in [1,2,3,4,5]

True

##### 'not in' keyword

In [ ]:
5 not in [1,2,3,4,5]

##### Checking an Empty List

In [11]:
my_list = []

# use this one 
if not my_list:
    print("it's empty")

if len(my_list) == 0:
    print("it's empty")
    
if my_list == []:
    print("it's empty")
    
print(bool(my_list))

it's empty
it's empty
it's empty
False

##### Removing Instances with a Loop

In [12]:
# while, remove
names = ["Kristina","Chelsey","Kristina","Wade","Ryan"]

while "Kristina" in names:
    names.remove("Kristina")
    
print(names)

['Chelsey', 'Wade', 'Ryan']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [14]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']

new_list = []
for name in names:
    if name not in new_list:
        new_list.append(name)

print(new_list)

# shortcut
# names = set(names)
# print(names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [16]:
nums = []
for i in range(100):
    nums.append(i)
print(nums)
    
nums_comp = [i for i in range(100)]
print(nums_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [18]:
nums = []
for i in range(100):
    nums.append(i**2)
print(nums)

nums_comp = [i**2 for i in range(100)]
print(nums_comp)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [22]:
names = ["Frances", "Zavier", "Kenny", "Jayden", "David", "Caleb"]
first_char_comp = [name[0] for name in names]
print(first_char_comp)

['F', 'Z', 'K', 'J', 'D', 'C']

In [23]:
five_letter_names = [name for name in names if len(name) == 5]
print(five_letter_names)

['Kenny', 'David', 'Caleb']

In [24]:
fln = [name if len(name)==5 else "not 5" for name in names]
print(fln)

['not 5', 'not 5', 'Kenny', 'not 5', 'David', 'Caleb']

In [ ]:
la = [1,2,3,4,5]
lb = ["A","B","C","D"]

let_num=[]
for number in la:
    for letter in lb:
        let_num.append(f'{number}{letter}')
print(let_num)

In [35]:
# let_num_comp = [f'{number}{letter}' for number in la for letter in lb]
# print(let_num_comp)

In [39]:
sentence = ["Today","is","the","day","that's","gonna","bring","me","back","to","you"]

letters=[]
# for word in sentence:
#     for letter in word:
#         letters.append(letter)
        
# print(letters)

letters_comp = [letter.upper() for word in sentence for letter in word]
print(letters_comp)

['T', 'O', 'D', 'A', 'Y', 'I', 'S', 'T', 'H', 'E', 'D', 'A', 'Y', 'T', 'H', 'A', 'T', "'", 'S', 'G', 'O', 'N', 'N', 'A', 'B', 'R', 'I', 'N', 'G', 'M', 'E', 'B', 'A', 'C', 'K', 'T', 'O', 'Y', 'O', 'U']

In [38]:
# Ex.............

# given a list use a list comprehension to give me the 
# last letter of each word capitalized
my_list=["steve","susan","jake","troy"]
#output 
#["E", "N", "E", "Y"]

new_list = [name[-1].upper() for name in my_list]
print(new_list)

['E', 'N', 'E', 'Y']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [ ]:
t2 = tuple()
t3 = ()

##### sorted()

##### Adding values to a Tuple

In [ ]:
#Reconstruct the tuple and add values

## Functions

##### User-Defined vs. Built-In Functions

##### Accepting Parameters

In [40]:
# Order matters
# A variable can be any type of object

def print_full_name(first_name, last_name):
    print(f"{first_name} {last_name}")
    
print_full_name("Kevin", "Byer")

Kevin Byer

In [ ]:
def what_datatype():
    return ['Hey',123,(4,5)]
what_datatype()[1]/2

##### Default Parameters

##### Making an Argument Optional

##### Keyword Arguments

# Creating a start, stop, step function

In [47]:
def my_range(stop, start=0, step=1):
    for i in range(start, stop, step):
        print(i)
        
my_range(10)

0
1
2
3
4
5
6
7
8
9

##### Returning Values

##### *args

In [42]:
#stands for arguments, takes ANY number of arguments as parameters
#must be last if multiple parameters are presents

def my_func(name, *args):
    print(name)
    for arg in args:
        print("The first/next arg is:", arg)
        
my_func("Shazaib", 2 , 4, 6, 8, 10)

Shazaib
The first/next arg is:  2
The first/next arg is:  4
The first/next arg is:  6
The first/next arg is:  8
The first/next arg is:  10

In [44]:
def my_func(name, **kwargs):
    print(name)
    for key in kwargs:
        print(key, kwargs[key])

my_func("Kevin", Height = 72, Weight = 145, Foods=["pizza", "tacos","dimsum","sushi"])

Kevin
Height 72
Weight 145
Foods ['pizza', 'tacos', 'dimsum', 'sushi']

##### Docstring

In [51]:
def my_function(name, age):
    '''
    takes in a name and age and returns a formatted string and tells the names age
    [name] = string
    [age] = integer
    '''
    return f"{name} is {age}"

help(my_function)

Help on function my_function in module __main__:

my_function(name, age)
    takes in a name and age and returns a formatted string and tells the names age
    [name] = string
    [age] = integer

##### Using a User Function in a Loop

In [52]:
def add_two(n):
    print(n+2)
    
while True:
    ask = int(input("What is your number???"))
    add_two(ask)
    response=input("Ready to quit? [Type quit]")
    if response.lower()--"quit":
        break

What is your number???2
4
Ready to quit? [Type quit]quit

TypeError: bad operand type for unary -: 'str'

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [ ]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [ ]:
#placement of variable declaration matters

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [55]:
# Use the following list - [1,11,14,5,8,9]

def num_less_than_10(num_list):

    return [n for n in num_list if n < 10]

print(num_less_than_10([1,11,14,5,8,9]))

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [61]:
a_list = [9,8,7,6,5]
a_list_2 = [0,1,2,3,4]

def combine_lists(list1,list2):
     return sorted(list1+list2)

print(combine_lists(a_list,a_list_2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]